body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0A1966;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
input{
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}
button{
    padding: 8px 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: rgb(170, 169, 169);
}
.result{
    margin-top: 15px;
}